{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work Sans"> 
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins"> 
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">          
        <link rel="stylesheet" href="{% static 'css/cart-style-1.css' %}" media="screen and (min-width: 1400px)">
        <link rel="stylesheet" href="{% static 'css/cart-style-2.css' %}" media="screen and (min-width: 1000px) and (max-width: 1400px)">
        <link rel="stylesheet" href="{% static 'css/cart-style-3.css' %}" media="screen and (min-width: 700px) and (max-width: 1000px)">
        <link rel="stylesheet" href="{% static 'css/cart-style-4.css' %}" media="screen and (min-width: 300px) and (max-width: 700px)">

        <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>

    </head>
    <body>
        <div class="header">
            <input id="menu__toggle" type="checkbox" />
            <label class="menu__btn" for="menu__toggle">
                <span></span>
            </label>
            <div class="menu-buttons">
                <div>
                    <div class="vh"></div>
                    <a href="index.html">Головна</a>
                    <div class="vh"></div>
                    <a href="shop.html">Харчування</a>
                    <div class="vh"></div>
                    <a href="clubs.html">Клуби</a>
                    <div class="vh"></div>
                    <a href="prices.html">Тарифи</a>
                    <div class="vh"></div>
                </div>
                <div>
                    <div class="vh"></div>
                    {% if user.is_authenticated %}
                        <a id="profile-button" href="profile.html">Профіль</a>
                    {% else %}
                        <a id="no-auth" href="login-dialog.html">Увійти</a>
                    {% endif %}
                    <div class="vh"></div>
                    {% if user.is_authenticated %}
                        <a class="cart-ico" href="cart.html"><iconify-icon icon="material-symbols:shopping-cart"></iconify-icon></a>
                    {% else %}
                        <a class="cart-ico" href="login-dialog.html"><iconify-icon icon="material-symbols:shopping-cart"></iconify-icon></a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="content">
            <div class="item-list">
                <h2>Ваш кошик</h2>
                {% for item in cart_items %}
                    <div class="item" id="{{ item.id }}">
                        <img src="mediaStorage/{{ item.product.picture }}">
                        <div class="desc">
                            <h4>{{ item.product.name }}</h4>
                            <h5>{{ item.taste }} {{ item.product.weight }}г</h5>
                        </div>
                        <div class="amount">
                            <h3>{{ item.quantity }}</h3>
                            <div class="amount-buttons">
                                <form action="{% url 'change_quantity' 'plus' item.id%}" method="post">
                                    {% csrf_token %}
                                    <button><iconify-icon icon="mdi:triangle"></iconify-icon></button>
                                </form>
                                <form action="{% url 'change_quantity' 'minus' item.id%}" method="post">
                                    {% csrf_token %}
                                    <button><iconify-icon icon="mdi:triangle-down"></iconify-icon></button>
                                </form>
                            </div>
                        </div>
                        <h3 class="price">{{ item.total }} грн</h3>
                        <form action="{% url 'remove_from_cart' item.id %}" method="post">
                            {% csrf_token %}
                            <button class="trash"><iconify-icon icon="fa6-regular:trash-can"></iconify-icon></button>
                        </form>
                    </div>
                {% endfor %}
            </div>

            <div class="payment" id="payment">
                <div class="user">
                    <h2 class="name">{{ user.first_name }} {{ user.last_name }}</h2>
                    <div class="photo">
                        <img src="{{ user.photo }}">
                    </div>
                    <!-- <img class="photo" src="images\bannon-morrissy-RxiAV5LC-ww-unsplash.jpg"> -->
                </div>
                <div class="payment-method-selector">
                    <h2>Виберіть спосіб оплати</h2>
                    <div>
                        <input type="radio" id="cash" name="payment-method" value="cash"/>
                        <label for="cash">Готівкою при отриманні</label>
                    </div>
                    <div>
                        <input type="radio" id="saved" name="payment-method" value="saved"/>
                        <label for="saved"><iconify-icon icon="icon-park-solid:bank-card"></iconify-icon>&nbsp;*166</label>
                    </div>
                    <div>
                        <input type="radio" id="card" name="payment-method" value="card"/>
                        <label for="card">Додати картку</label>
                    </div>
                </div>
                <hr>
                <div class="card-info" id="card-info">
                    <div class="number">
                        <p>Номер картки</p>
                        <input type="text" id="number"  minlength="16" maxlength="16" size="10">
                    </div>
                    <div class="expire">
                        <p>Термін дії</p>
                        <input type="text" id="expire" minlength="16" maxlength="16" size="10">
                    </div>
                    <div class="cvv">
                        <p>CVV</p>
                        <!-- <label for="cvv" aria-placeholder="111">CVV</label> -->
                        <input type="text" id="cvv" minlength="16" maxlength="16" size="10">
                    </div>
                </div>
                <hr>
                <div class="total">
                    <h3>Всього до сплати</h3>
                    <h3>{{ cart_total }} грн</h3>
                </div>
                <button>
                    <h3>{{ cart_total }} грн</h3>
                    <h3>Купити<iconify-icon icon="material-symbols:arrow-right-alt"></iconify-icon></h3>
                </button>
            </div>
            <script>
                const cardFields = document.getElementById('card-info');
                {#const paymentWidget = document.getElementById('payment');#}

                function handleRadioClick() {
                  if (document.getElementById('card').checked) {
                    cardFields.style.display = 'flex';
                    {#paymentWidget.style.height = '90%';#}
                  } else {
                    cardFields.style.display = 'none';
                    {#paymentWidget.style.height = '70%';#}
                  }
                }

                const radioButtons = document.querySelectorAll('input[name="payment-method"]');
                radioButtons.forEach(radio => {
                  radio.addEventListener('click', handleRadioClick);
                });
            </script>
        </div>

        <footer>
            <div class="logo">
                <h3><span class="half1">Gym</span><span class="half2">Nation</span></h3>
                <h4>Вперед до вашої мети <br>разом з GymNation!</h4>
            </div>

            <div class="tabs">
                <a href="index.html">Головна</a>
                <a href="prices.html">Тарифи</a>
                <a href="shop.html">Харчування</a>
                {% if user.is_authenticated %}
                    <a href="profile.html">Профіль</a>
                {% else %}
                    <a href="login-dialog.html">Вхід</a>
                {% endif %}
                <a href="clubs.html">Клуби</a>
                {% if user.is_authenticated %}
                    <a href="cart.html">Кошик</a>
                {% endif %}
            </div>

            <div class="contacts">
                <h4>Зв'язок з нами</h4>
                <h5>
                    <iconify-icon icon="material-symbols:phone-in-talk" style="color: white;" height="3vh"></iconify-icon>
                    (095)-938-90-99
                </h5>
                <h5>
                    <iconify-icon icon="material-symbols:mail-outline" style="color: white;" height="3vh"></iconify-icon>
                    aleksseva003@gmail.com
                </h5>
            </div>

            <div class="socials">
                <h4>Соцмережі</h4>
                <div class="logos">
                    <a href="https://www.facebook.com/" class="facebook">
                        <iconify-icon icon="ri:facebook-fill" style="color: white;"></iconify-icon>
                    </a>
                    <a href="https://t.me/zk215" class="telegram">
                        <iconify-icon icon="mingcute:telegram-fill" style="color: white;"></iconify-icon>
                    </a>
                    <a href="https://twitter.com/" class="twitter">
                        <iconify-icon icon="ri:twitter-fill" style="color: #5e3ad4;"></iconify-icon>
                    </a>
                    <a href="https://www.instagram.com/" class="insta">
                        <iconify-icon icon="ri:instagram-fill" style="color: #5e3ad4;"></iconify-icon>
                    </a>
                </div>
            </div>
        </footer>
    </body>
</html>