{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work Sans">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
        <link rel="stylesheet" href="{% static 'css/profile-style-1.css' %}" media="screen and (min-width: 1400px)">
        <link rel="stylesheet" href="{% static 'css/profile-style-2.css' %}" media="screen and (min-width: 1000px) and (max-width: 1400px)">
        <link rel="stylesheet" href="{% static 'css/profile-style-3.css' %}" media="screen and (min-width: 700px) and (max-width: 1000px)">
        <link rel="stylesheet" href="{% static 'css/profile-style-4.css' %}" media="screen and (min-width: 300px) and (max-width: 700px)">

        <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>
    </head>
    <body>
        <div class="header">
            <input id="menu__toggle" type="checkbox" />
            <label class="menu__btn" for="menu__toggle">
                <span></span>
            </label>
            <div class="menu-buttons">
                <div>

                    <div class="vh"></div>
                    <a href="index.html">Головна</a>
                    <div class="vh"></div>
                    <a href="shop.html">Харчування</a>
                    <div class="vh"></div>
                    <a href="clubs.html">Клуби</a>
                    <div class="vh"></div>
                    <a href="prices.html">Тарифи</a>
                    <div class="vh"></div>
                </div>
                <div>
                    <div class="vh"></div>
                    <a href="index.html">Профіль</a>
                    <div class="vh"></div>
                    <a class="cart-ico" href="cart.html"><iconify-icon icon="material-symbols:shopping-cart"></iconify-icon></a>
                </div>
            </div>
        </div>

        <div class="profile">
            <div class="left-block">
                <img src="{{ user.photo }}">
                <form class="logout-form" method="post">
                    {% csrf_token %}
                    <button class="logout-button" name="action" value="logout">Вийти</button>
                </form>
            </div>

            <div class="center-block">
                <div class="personal">
                    <h1>{{ user.first_name }} {{ user.last_name }}</h1>
                    <h2>{{ user.email }}</h2>
                    <h2>{{ user.phone }}</h2>
                </div>

                <div class="club">
                    <h3>Клуб:</h3>
                    {% if user.club is None %}
                        <h4>Не обрано</h4>
                    {% else %}
                        <h4>{{ user.club }}</h4>
                    {% endif %}
                </div>
                <div class="plan">
                    <h3>Абонемент:</h3>
                    {% if user.plan is None %}
                        <h4>Не обрано</h4>
                    {% else %}
                        <h4>{{ user.plan }}</h4>
                    {% endif %}
                </div>
            </div>

            <div class="right-block">
                <h1>Тренер:</h1>
                {% if user.trainer is not None %}
                    <h2>{{ user.trainer.last_name }} {{ user.trainer.first_name }}</h2>
                    <h2>{{ user.trainer.phone_number }}</h2>
                    <img src="mediaStorage/{{ user.trainer.photo }}">
                {% else %}
                    <h2>Тренера не обрано, зверніться до адміністратора</h2>
                {% endif %}
            </div>
        </div>

        <footer>
            <div class="logo">
                <h3><span class="half1">Gym</span><span class="half2">Nation</span></h3>
                <h4>Вперед до вашої мети <br>разом з GymNation!</h4>
            </div>

            <div class="tabs">
                <h5>Головна</h5>
                <h5>Тарифи</h5>
                <h5>Харчування</h5>
                <h5>Профіль</h5>
                <h5>Клуби</h5>
                <h5>Кошик</h5>
            </div>

            <div class="contacts">
                <h4>Зв'язок з нами</h4>
                <h5>
                    <iconify-icon icon="material-symbols:phone-in-talk" style="color: white;" height="3vh"></iconify-icon>
                    (095)-938-90-99
                </h5>
                <h5>
                    <iconify-icon icon="material-symbols:mail-outline" style="color: white;" height="3vh"></iconify-icon>
                    aleksseva003@gmail.com
                </h5>
            </div>

            <div class="socials">
                <h4>Соцмережі</h4>
                <div class="logos">
                    <button class="facebook">
                        <iconify-icon icon="ri:facebook-fill" style="color: white;"></iconify-icon>
                    </button>
                    <button class="telegram">
                        <iconify-icon icon="mingcute:telegram-fill" style="color: white;"></iconify-icon>
                    </button>
                    <button class="twitter">
                        <iconify-icon icon="ri:twitter-fill" style="color: #5e3ad4;"></iconify-icon>
                    </button>
                    <button class="insta">
                        <iconify-icon icon="ri:instagram-fill" style="color: #5e3ad4;"></iconify-icon>
                    </button>
                </div>
            </div>
        </footer>
    </body>
</html>